* {
  margin: 0;
  font-family: sans-serif;
  text-decoration: none;
}

body {
  background-color: black;
}

nav {
  background-color: rgb(19, 19, 19);
  height: 10vh;
}

span {
  color: rgb(18, 112, 170);
}
.logo {
  color: white;
  font-size: 1.5rem;
}

.nav-div {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

ul {
  color: rgb(203, 203, 203);
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 9px;
  margin-right: 5%;
  padding: 5px;
}
li {
  margin-left: 10px;
}
a {
  text-decoration: none;
}

a:hover {
  color: white;
  cursor: pointer;
}

button {
  padding: 8px;
  width: 100px;
  transition: ease-in-out 0.3s;
  border: none;
  border-radius: 15px;
  font-size: 15px;
}

button:hover {
  background-color: rgb(18, 112, 170);
  color: white;
  padding: 8px;
  width: 100px;
  transition: ease-in-out 0.3s;
  border-radius: 15px;
  cursor: pointer;
}

.hero-section-container {
  display: flex;
  z-index: 100;
}

.hero-text-container {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 90vh;
  flex-direction: column;
  padding-left: 10%;
}

.hero-img-container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 8%;
}
h1 {
  color: white;
  font-size: 5rem;
  margin-bottom: 20px;
}

h2 {
  color: white;
}

p {
  color: white;
}

.hero-button {
  margin-top: 30px;
  gap: 3px;
  margin-right: 8px;
  background-color: white;
}

#contact-button {
  background-color: rgb(18, 112, 170);
  color: white;
}

#contact-button:hover {
  background-color: white;
  color: black;
}
