* {
  margin: 0;
  font-family: sans-serif;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  transition: ease-in-out;
}

html,
body {
  height: 100%;
  margin: 0;
  background-image: url("./3-bg.png.avif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  z-index: 100;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 12vh;
  z-index: 1000;
}

.hero-section,
.projects-section {
  padding-top: 12vh; /* same as nav height */
}

span {
  color: rgb(18, 112, 170);
}
.logo {
  color: white;
  font-size: 1.5rem;
}

.nav-div {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

ul {
  color: rgb(203, 203, 203);
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 9px;
  margin-right: 5%;
  padding: 5px;
}
li {
  margin-left: 10px;
}
a {
  text-decoration: none;
}

a:hover {
  color: white;
  cursor: pointer;
}

a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 8px;
  width: 100px;
  transition: ease-in-out 0.3s;
  border: none;
  border-radius: 15px;
  font-size: 15px;
}

button:hover {
  background-color: rgb(18, 112, 170);
  color: white;
  padding: 8px;
  width: 100px;
  transition: ease-in-out 0.3s;
  border-radius: 15px;
  cursor: pointer;
}

.hero-section-container {
  display: flex;
  z-index: 100;
}

.hero-text-container {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 90vh;
  flex-direction: column;
  padding-left: 10%;
}

.hero-img-container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 8%;
}
h1 {
  color: white;
  font-size: 5rem;
  margin-bottom: 20px;
}

h2 {
  color: white;
}

p {
  color: white;
}

.hero-button {
  margin-top: 30px;
  gap: 3px;
  margin-right: 8px;
  background-color: white;
}

#contact-button {
  background-color: rgb(18, 112, 170);
  color: white;
}

#contact-button:hover {
  background-color: white;
  color: black;
}

.projects-section {
  height: 120vh;
  display: flex;
  justify-content: center;
  flex-direction: column;

  padding: 0;
}

.background-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./3-bg.png.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.project-img {
  width: 110%;
  height: auto;
  border-radius: 5%;
}
.project-card {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 5%;
  height: 350px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 60px;
  margin: 50px;
  width: 30%;
  align-items: center;
  box-shadow: 5px;
  border: 1px solid black;
}

.buttons-div {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

h1 {
  margin-top: 0;
}

.project-buttons {
  width: 80px;
  margin-left: 30px;
  margin-right: 30px;
}

.project-buttons:hover {
  width: 80px;
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: ;
  margin: 20px;
  border-radius: 30px;
}

h3 {
  margin: 10px;
  padding-bottom: 10px;
}

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 120vh;
  justify-content: center;
}

.input {
  background-color: white;
  margin: 20px;
  border-radius: 20px;
  width: 25%;
  display: flex;
  height: 40%;
  flex-direction: column;
  justify-content: center;
}

.input input {
  height: 40px;
  width: 150px;
  margin: 20px;
}

.input input {
  width: 300px;
  border-radius: 20px;
  border: 1px black solid;
}

input {
  padding: 10px;
  font-size: 18px;
}

.input button {
  margin: 20px;
}
